# Byte-compiled / optimized / DLL files
__pycache__/
outputs/
*.py[cod]
*$py.class
.idea/
*.pyc
*.tar
.DS_Store
scripts/ 
*.mp4
fairseq/
face_alignment/
face_detection/
dependencies/   
*.out
compute/
*.pth
test*